[Desktop Entry]
Version=1.0
Name=WSJT-Y
Comment=Amateur Radio Weak Signal Operating (FT8/FT4)
Exec=wsjtx
Icon=wsjtx_icon
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=AudioVideo;Audio;HamRadio;
StartupNotify=true
